body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;

}

#nav {
    background-color: white;
    height: 30px;
    color: #000;
    border-bottom-color: rgb(133, 133, 124)
}

.navs {
    text-align: center;
    color: rgb(161, 157, 157);
    background-color: rgb(245, 242, 242);
    margin: 0;
    padding: 0;
}

.nats {
    text-align: center;
    color: black;
    margin-bottom: 5%;
}

#navs {
    background-color: rgb(245, 242, 242);
    color: rgb(134, 128, 128);

}

li {
    list-style: none;
    display: inline-block;
}

li a {
    text-decoration: none;
    font-family: arial;
    color: #ABABAB;
    float: left;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
    margin-right: 13px;

}

.foot {
    color: #000;
}

.loggo {
    /* width:280px; */
    margin: 195px auto 0 auto;
    display: block;
    height: 15%;
    width: 335px;
}

#sign {
    border: 2px solid #D94A4A;
    background-color: #D94A4A;
    height: 16px;
    width: 65px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    border-radius: 3px;
    font-size: 11px;
    font-family: arial;
    text-align: center;
    color: white;
    font-weight: 600;
    padding-top: 7px;

}

.left {
    float: left;
}

input {
    width: 550px;
    height: 35px;
    border: 1px solid rgb(215, 219, 223);
    margin: 20px auto;
    display: block;
    box-shadow: #ABABAB;
}

.tons {
    text-align: center;

}

button {
    margin-left: 1%;
    height: 3%;
    width: 10%;
    border: #ABABAB;
    font-weight: 20%;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#country{
    display: flex;
    flex-direction: row;
    background-color: rgba(245, 242, 242, 0.522);
    color: rgba(134, 128, 128, 0.556);    
}

#country > h4{
    margin-left: 3%;
}

#services{
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 242, 242);
    color: rgb(134, 128, 128);
    /* position: absolute;
    bottom: 0;
    font-family: verdana; */
}
.lef {
    float: right;
    color: #f2f2f2;
    text-align: center
}

.foot {
    color: #000;
}